include LICENSE
recursive-include massadmin/templates *
recursive-include massadmin/templatetags *
recursive-include massadmin/locale *
recursive-exclude massadmin/tests *
recursive-exclude mass_demo *
